*{
    margin: 0%;
    padding: 0%;
}
body {
    background-color: #fff;
    margin-top: 120px;
    
}


.pagamento{
    display: flex;
    justify-content: center;
}

.textopagamento p{
    font-size: medium;
    justify-content: center;
    margin-left: 70vh;
}

.Phone{
    display: flex;
    font-size: medium;
    line-height: 5vh;
    justify-content: space-around;
    margin-bottom: 10rem;
    padding-bottom: 5rem;
}

.Phoneimg img{
  margin-top: 10rem;
}
#Botaolocal{
    padding-left: 5px;
    margin-left: 20px;
}

.PhoneText{
    font-size: large;
    padding: 50px;
    margin: 10px;
    text-align: justify;
}

h6{
    margin-top: 10rem;
}

.heading{
    padding-top: 50px;
}




@media (min-width: 700px) and (max-width: 1000px){
    *{
        margin: 0;
        padding: 0;
    }

    #menu-btn{
        display: block;
    }

    #menu-btn.fa-times{
        transform:rotate(180deg);
    }

    #login-btn .btn{
        display: none;
    }

    #login-btn i{
        display: block;
    }

    .header .navbar{
        position: absolute;
        top:99%; left:0; right:0;
        background: #fff;
        border-top: var(--border);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .navbar a{
        margin:2rem;
        display: block;
        font-size: 2rem;
    }

    .Phone{
        display: grid;
        flex-direction: column;
    }

    .Phoneimg img{
      margin-top: 5rem;
    }

    body{
    margin-top: 120px;
    }

    .textopagamento p{
      margin-left: 0%;
      padding: 0%;
      margin-bottom: 2rem;
    }
}



/*Formulário*/

input, textarea {

    border: 0;
    outline: 0;
    font-size: 1.2em;
    background: transparent;
    color: #797979;
    position: relative;
    font-family: 'open_sansregular';
  
  }
  
  textarea { resize: none; }
  
  .formulario {
  
    max-width: 550px;
    margin: 0 auto;
    border-radius: 2px;
    font-size: medium;
  
  }
  
  .form {
  
    display: flex;
    flex-wrap: wrap;
  
  }
  
  .form-item {
  
    position: relative;
    width: 100%;
    padding: 1em;
  
  }

  
  .textopagamento p{
    padding: 0%;
    margin-bottom: 2rem;
  }

  .imgs img{
    margin-top: 5vh;
  }
 
  
  @media only screen and (min-width: 768px) {
  
    .form-item.col-responsive { width: 50%; }
  
  }
  
  .form-item .textarea {
  
    height: 10em;
  
  }
  .form-item .input, .form-item .textarea {
  
    display: block;
    padding: 1em;
    width: 100%;
    transition: all 0.3s;

    border-bottom: 2px solid #56D4D9;
  
  }
  
  .form-item .input:focus, .form-item .textarea:focus {
  
    border-bottom: 2px solid #333333;
  
  }
  
  .form-item .input:valid + .label, .form-item .input:focus + .label, .form-item .textarea:valid + .label, .form-item .textarea:focus + .label {
  
    top: 1em;
    left: 1em;
    font-size: 0.9em;
  
  }
  
  .form-item .input:valid, .form-item .textarea:valid {
  
    border-bottom: 2px solid #56D4D9;
  
  }
  
  .form-item .label {
  
    position: absolute;
    top: 2em;
    left: 2em;
    text-transform: capitalize;
    transition: all 0.3s;
  
  }
  
  .form-item .btn {
  
    display: block;
    width:120px;
    padding: 0.8em 0.6em;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .form-item .btn:hover {
    background:var(--principal);
  
  }
  
  .form-item .botao:active {
  
    background-color:#ff9000;
    color:#ffffff;
    border:2px #ff9000 solid; 
  
  }
  /*Formulário*/

@media (min-width: 200px) and (max-width: 699px){
    *{
        max-width: 100%;
        
        justify-content: center;
    }
    body{
    margin-top: 120px;
    }
    .Phone{
    flex-direction: column;
    }

    .PhoneText{
      padding: 0%;
      margin: 0%;
    }

    .textopagamento p{
      margin-left: 0%;
      padding: 0%;
      margin-bottom: 2rem;
    }

    .pagamento img{
      margin-top: 5vh;
    }
   
}




